html, body{
    height: 100%;
    overflow-y:scroll;
    margin: 0;
  }
body.index{
    background-image: url("./background.png");
    background-size: cover;
    background-repeat: no-repeat;
      background-position: center;
    z-index: 1;
}
body.barrage{
    background-image: url("./barrage.png");
    background-size: cover;
    background-repeat: no-repeat;
      background-position: center;
    z-index: 1;
    height: 100%;
}
#bac{
    background-color:rgba(45,45.45, 0.8);
    width: 80%;
    position: relative;
    left: 12%;
    top:50px;
}
#result-msg{
    background-color:rgba(45, 45, 45, 0.8);
    font-size: 50px;
    text-align: center;
    color:white;
}
div.container1{
    background-color: #d41ad4;
    color:black;
    position: relative;
    width: 35%;
    margin: 0 auto;
    margin-top: 75px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
#key,p a{
    font-size: 20px;
    color:#717171;
}
#pic{
    float: left;
}
img.input{
    width:40px;
}
input.index{
    font-size: 20px;
    background:rgba(45, 45, 45, 0.8);
    margin-left: 5px;
    border: 0;
    margin-bottom: 20px;
    color: #717171;
    margin-top: 10px;
}
.screen_container{
    position: relative;
    width: 100%;
    height: 200px;
    background: rgba(45, 45, 45, 0.8);
    overflow: hidden;
}
.btn-group{
    display:flex;
    justify-content: center;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.form-group{
    margin: 0 auto;
}
video{
    width:100%;
    height:200px;
}
.textarea{
    width: 90%;
    height:350px;
    border: 1em #717171;
    line-height: 20px;
    word-wrap:break-word; 
    margin:5%;
    padding: 10px;
}
#comment{
    border-bottom:3px solid #413e9a;
    font-size: 10px;
    margin:1%;
}
.comment{
    visibility: hidden;
    width:100%;margin:0 auto;
    position: absolute;
    top:40%;
    background:rgba(21, 21, 30, 1)
}
.append{
    margin:2%;
    color: white;
}
.sends{
    width:50%;height:50px;float:left;background-color:rgba(45, 45, 45, 0.5);color:rgb(69,66,164);
}
.comments{
    width:50%;height:50px;background-color:rgba(45, 45, 45, 0.5);color:rgb(69,66,164);
}
.choose1{
    width:45%;height:50px;float:left;background-color:rgba(45, 45, 45, 0.5);color:rgb(69,66,164);
}
.active{
    color:white !important;
    background-color: #413e9a !important;
    opacity: 1 !important;
}
.active1{
    border:2px solid #413e9a !important;
}
.up,.down,.middle{
    width:33%;height:50px;float:left;background-color:rgba(45, 45, 45, 0.5);color:rgb(69,66,164);
}
.sm,.s,.m,.l{
    width:16%;float:left;background-color:rgba(45, 45, 45, 0.5);color:rgb(69,66,164);
}
.choose{
    width:30%;float:left;background-color:rgba(45, 45, 45, 0.5);color:rgb(69,66,164);
}
.color{
    margin-left: 6% !important;
}


